.navbar{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.nav-options:hover{
    text-decoration: underline red;
    text-underline-offset: 10px ;
    transition: 200ms;
}
.nav-items a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
@media (max-width:1000px){
    .offcanvas-icon{
        font-size: 80px;
    }
    .nav-items a{
        font-size: 40px;
    }
    .btn-name{
        font-size: 40px;
    }
}